[run]
omit =
    tests/*
    */__init__.py
branch = True
cover_pylib = False

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if 0:
    if False:
    if __name__ == .__main__.:
